@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1a1c24;
}

a {
    color: white;
}

td,
th {
    padding: 10px 10px;
    text-align: left;
}

th {
    font-family: 'ProximaNova-Bold';
}

.no-br {
    border-bottom: none;
}

tr {
    background-color: #24252f;
    border-bottom: 2px solid #1a1c24;

    margin-bottom: 10px;
}

table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    font-family: 'ProximaNova-Regular';
    border-radius: 15px;
    overflow: hidden;
}

.modal-open {
    transition: 0.2s;
    transform: translateX(0);
}
.modal-closed {
    transition: 0.2s;
    transform: translateX(200%);
}

.gameprev-team {
    width: 40%;
}

.gameprev-score {
    width: 20%;
}

@media screen and (min-width: 480px) {
    .gameprev-team {
        width: 45%;
    }

    .gameprev-score {
        width: 10%;
    }
}
